[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gpiozero ="*"
lxml = "*"
metarmap = {editable = true, path = "."}
numpy = "*"
pillow = "*"
requests = "*"
rpi-ws281x = "*"
spidev = "*"

[dev-packages]
isort = "*"
flake8 = "*"

[requires]
python_version = "3.11"
