[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
click = "*"
gpiozero ="*"
lgpio = "*"
lxml = "*"
metarmap = {editable = true, path = "."}
numpy = "*"
pillow = "*"
requests = "*"
rpi-ws281x = "*"
spidev = "*"

[dev-packages]
flake8 = "*"
isort = "*"

[requires]
python_version = "3.11"
