[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gpiozero ="*"
lxml = "*"
numpy = "*"
pillow = "*"
requests = "*"
rpi-ws281x = "*"
spidev = "*"
rpi-lgpio = "*"
metarmap = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
isort = "*"

[requires]
python_version = "3.11"
